<form class="ui form" action="/login" method="post">
  <div class="field">
    <label>User Name</label>
    <input type="text" name="username" placeholder="Enter Username" autofocus="autofocus">
  </div>
  <div class="field">
    <label>Password</label>
    <input type="password" name="password" placeholder="Password">
  </div>
  <button class="ui button" type="submit">Submit</button>
</form>
